#nestedFormContainer {
  margin: auto;
  display: flex;
  justify-content: left;
  height: 75px;
  width: 100%;
  background-color: var(--primaryWhiteColor);
  margin-top: 10px;
}

#nestedFormBody {
  height: 30px;
  line-height: 30px;
  width: 385px;
  max-width: 100%;
  margin-top: 10px;
  margin-right: 14px;
  margin-left: 7px;
  font-weight: lighter;
  border-radius: 7.5px;
  background: none;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid var(--primaryGrayBorderColor);
}

#nestedFormBody:hover {
  background-color: var(--primaryWhiteColor);
  box-shadow: none;
}

#nestedFormBody:focus {
  outline: none;
  box-shadow: none;
  background: none;
  display: block;
  box-sizing: border-box;
  padding-left: 16px;
}

#nestedFormButton {
  margin-top: -31.5px;
  height: 20px;
  line-height: 18px;
  font-size: 12px;
  width: 100px;
  max-width: 40%;
  margin-right: 7%;
  float: right;
  margin-bottom: 0px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--primaryPurpleColor);
  border: 1px solid var(--primaryPurpleColor);
  color: var(--primaryWhiteColor);
  border-radius: 5px;
  cursor: pointer;
}
#nestedFormButton:hover {
  background-color: var(--secondaryPurpleColor);
  border: 1px solid var(--secondaryPurpleColor);
}

#nestedFormButton:disabled {
  border: 1px solid #9e63eb;
  background-color: #9e63eb;
  cursor: default;
}

@media only screen and (max-width: 385px) {
  #nestedFormBody {
    margin-right: 10px;
    margin-left: 3px;
  }
}
